/* body {
} */
html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #f9f9f9;
  text-align: center;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-align: center;
}

.inner-body-container {
  position: absolute;
  width: 82%;
  height: 90%;
  background-color: #fdebfc;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  margin-top: 2.2%;
  margin-bottom: 5%;
  margin-left: 8.2%;
  margin-right: 5%;
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 10px #ff35dc;
}

/* Navigation */

.header {
  /* flex: 3 3 3; */
  position: relative;
  /* background: #ff35dc; */
  background: rgb(255, 53, 220);
  background: linear-gradient(
    90deg,
    rgba(255, 53, 220, 1) 34%,
    rgba(255, 85, 238, 1) 100%
  );
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  border-bottom-color: black;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  display: flex;
  width: 99%;
  justify-content: space-between;
}

.header h1 {
  font-family: "PT Sans Narrow", sans-serif;
  left: 0;
  font-size: 35px;
  margin: 3px;
  align-self: flex-start;
  color: white;
  flex: 6, 3, 6;
  text-shadow: -2px 2px black;
}

.header h3 {
  color: white;
  right: 0;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 20px;
  font-size: 20px;
  margin: 3px;
  align-self: flex-end;
  flex: 4 1 4;
  text-shadow: -2px 2px black;
}

#nav-heart {
  font-size: 30px;
  font-weight: bold;
}

/* After Header */

.after-header {
  flex: 9 8 auto;
  overflow: scroll;
  height: 100%;
}

/* All Buttons */

.buttons {
  flex: 1 1 auto;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  border-radius: 15px;
  box-shadow: -5px 5px #ff35dc;
  margin: 10px;
  margin-top: 17px;
  width: auto;
  text-shadow: -1px 1px black;
  border: 3px dotted #000000;
}

.buttons:active {
  box-shadow: -1 5px #ff35dc;
  transform: translateY(4px);
}

/* All Tables */

.tables {
  table-layout: fixed;
  border: 3px solid #000000;
  border-radius: 35px;
  border-spacing: 0;
  margin: auto;
  overflow: hidden;
  box-shadow: -9px 9px #ff35dc;
}

.tables th {
  padding: 10px;
}

.tables td {
  padding: 10px;
}

.tables:active {
  box-shadow: -2 6px #ff35dc;
  transform: translateY(4px);
}

/* All Forms */

form label {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 9px;
}

form select {
  font-size: 13px;
}

form button {
  flex: 1 1 auto;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  border-radius: 15px;
  box-shadow: -5px 5px #ff35dc;
  margin: 10px;
  margin-top: 17px;
  width: auto;
  text-shadow: -1px 1px black;
  border: 3px dotted #000000;
  background-color: #694aff;
}

form button:active {
  box-shadow: -1 5px #ff35dc;
  transform: translateY(4px);
  background-color: #5f44e9;
}

/* Home */

.home-main-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 80%;
  height: 100%;
  align-self: center;
}

.home-quadrant-table {
  width: 80%;
  margin: auto;
}

.home-quadrant-table img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.home-button-new {
  flex: 1 1 1;
  background-color: #694aff;
  width: auto;
  padding: 15px 25px;
  margin: 0px;
}

.home-button-new:hover {
  background-color: #5f44e9;
}

#home-button-orders {
  flex: 1 1 1;
  background-color: #694aff;
  width: auto;
  padding: 15px 25px;
  margin: 0px;
}

#home-button-orders:hover {
  background-color: #5f44e9;
}

.home-button-orders {
  flex: 1 1 1;
  background-color: #694aff;
  width: auto;
  padding: 15px 25px;
  margin: 0px;
}

.home-button-orders:hover {
  background-color: #5f44e9;
}

#home-table-left {
  width: 90%;
  background-color: #fca519;
}

#home-table-left th {
  background-color: #fca519;
}

#home-table-left td {
  background-color: #ffbb00;
}

#home-emoji {
  font-size: 20px;
}

#home-left-bold {
  padding: 35px;
  font-weight: bold;
  font-size: 23px;
  text-shadow: -1px 1px rgb(255, 255, 255);
}

#home-right-header {
  text-shadow: -1px 1px rgb(255, 255, 255);
}

#home-table-right {
  background-color: #64d8bd;
  width: 90%;
}
#home-table-right th {
  background-color: #64d8bd;
}

#home-table-right td {
  background-color: #68eccd;
}

/* 
Your Groups */

.groups-main-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 80%;
  height: 100%;
  align-self: center;
}

.groups-inner-nav {
  display: flex;
  margin-bottom: 20px;
  overflow: auto;
  justify-content: space-between;
}

.groups-title {
  flex-grow: 1;
  font-size: 35px;
  text-decoration-line: underline;
}

.groups-button-edit {
  flex: 1 1 auto;
  color: #fff;
  background-color: #694aff;
  margin: 10px;
  margin-top: 17px;
  width: auto;
}

.groups-button-edit:hover {
  background-color: #5f44e9;
}

#groups-nav-side {
  flex: 1 1 auto;
  width: 20%;
}

.groups-all {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.groups-body-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 70%;
  margin: 10%;
  margin-top: 5%;
}

.groups-single-container {
  flex-direction: row;
  display: flex;
  width: 50%;
  margin-bottom: 25px;
  /* margin: 8px; */
}

.groups-hearts {
  align-self: center;
  flex-basis: auto;
  display: flex;
  justify-content: center;
  flex-direction: column wrap;
  align-content: center;
}

#group-heart-pink {
  color: #ff35dc;
  font-weight: bold;
  font-size: 20px;
}

#group-heart-mint {
  color: #69eccc;
  font-weight: bold;
  font-size: 20px;
}

#groups-single-table {
  width: 90%;
  background-color: #fca519;
  font-weight: bold;
}

#groups-single-table th {
  background-color: #fca519;
}
#groups-single-table td {
  background-color: #ffbb00;
}

.groups-single {
  flex-grow: 1;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fca519;
  border: none;
  border-radius: 15px;
  box-shadow: -5px 5px #ff35dc;
  margin: 10px;
  margin-top: 17px;
  text-shadow: -1px 1px black;
}

.groups-single:hover {
  background-color: #ffbb00;
}

/* Edit Groups */

.edit-groups-form-main {
  margin: 20px;
}

#groups-edit-title {
  margin-bottom: 50px;
  text-decoration-line: underline;
  font-size: 30px;
  margin-top: 5px;
}

.edit-groups-faves-container {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 20px;
}

.groups-add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

#groups-edit-allgroups-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#groups-edit-allgroups {
  font-size: 15px;
}

#edit-groups-fave {
  width: 30%;
  background-color: #ffbb00;
  font-weight: bold;
  margin-bottom: 15px;
}

#edit-groups-fave td {
  background-color: #ffbb00;
}

#edit-groups-fave:hover,
#edit-groups-fave td:hover {
  background-color: gray;
  text-decoration-line: line-through;
  box-shadow: -9px 9px black;
}

#groups-button-add {
  flex: 1 1 1;
  color: #fff;
  background-color: #694aff;
  width: 60%;
  margin: auto;
  margin-top: 16px;
}

#groups-button-add:hover {
  background-color: #5f44e9;
}

/* Your Orders */

.orders-main-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 95%;
  height: 100%;
  align-self: center;
}

.orders-inner-nav {
  display: flex;
  margin-bottom: 10px;
  overflow: auto;
  justify-content: space-between;
}

.orders-title {
  flex-grow: 1;
  font-size: 35px;
  text-decoration-line: underline;
}

#orders-nav-side {
  flex: 1 1 auto;
  width: 10%;
}

.orders-button-new {
  flex: 1 1 1;
  color: #fff;
  background-color: #694aff;
  width: auto;
}

.orders-button-new:hover {
  background-color: #5f44e9;
}

.orders-body {
  width: 100%;
  height: 100%;
  margin-top: 0px;
}

.orders-filter {
  margin-top: 20px;
}

.orders-all {
  margin: 0px;
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.orders-single-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-bottom: 15px;
}

.orders-hearts {
  flex-basis: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column wrap;
  width: 10%;
}

#orders-heart-1 {
  color: #25b6ff;
  font-weight: bold;
  font-size: 20px;
}

#orders-heart-2 {
  color: #4089ff;
  font-weight: bold;
  font-size: 20px;
}

#orders-heart-3 {
  color: #6346ff;
  font-weight: bold;
  font-size: 20px;
}

#orders-table {
  width: 90%;
  background-color: #c97dfc;
}

#orders-table tbody:hover td,
#orders-table tbody:hover th {
  background-color: #af6ddb;
}

#orders-table th {
  background-color: #c97dfc;
}

#orders-table td {
  background-color: #eac5f5;
}

/* New Order */

/* Single Order */

.single-order-main-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 95%;
  height: 100%;
  align-self: center;
}

.single-order-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: auto;
  justify-content: center;
}

#single-order-title {
  font-size: 35px;
  text-decoration-line: underline;
}

.single-order-button-edit {
  flex: 1 1 auto;
  color: #fff;
  background-color: #694aff;
  margin-top: 17px;
  width: 30%;
}

.single-order-button-edit:hover {
  background-color: #5f44e9;
}

#single-order-button-del {
  flex: 1 1 auto;
  color: #fff;
  background-color: #694aff;
  margin-top: 17px;
  width: 30%;
}

#single-order-button-del:hover {
  background-color: #5f44e9;
}

#single-order-table {
  width: 95%;
  background-color: #c97dfc;
  margin-bottom: 20px;
}

#single-order-table th {
  padding: 12px;
  background-color: #c97dfc;
}

#single-order-table td {
  padding: 12px;
  background-color: #eac5f5;
}

.single-order-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: auto;
  justify-content: center;
}

#single-order-items-title {
  font-size: 30px;
  text-decoration-line: underline;
  margin-bottom: 8px;
  margin-top: 10px;
}

.single-order-item-button-new {
  flex-grow: 1;
  background-color: #694aff;
  margin-bottom: 20px;
}

.single-order-item-button-new:hover {
  background-color: #5f44e9;
}

#single-order-item {
  background-color: #64d8bd;
  width: 47%;
}

#single-order-item th {
  background-color: #64d8bd;
}

#single-order-item td {
  background-color: #68eccd;
}

.single-order-item-button-edit {
  width: 20%;
  background-color: #694aff;
}

.single-order-item-button-edit:hover {
  background-color: #5f44e9;
}

#single-order-item-del {
  flex: 1 1 auto;
  color: #fff;
  background-color: #694aff;
  margin-top: 17px;
  width: 20%;
}

#single-order-item-del:hover {
  background-color: #5f44e9;
}

/* MODALS */

.type-radio {
  align-content: center;
  text-align: center;
}

#new-order-title {
  margin-bottom: 50px;
  text-decoration-line: underline;
  font-size: 30px;
  margin-top: 5px;
}

.new-order-field {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  font-weight: bold;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 15px;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
    background-color: rgb(228, 197, 240);
    box-shadow: -9px 9px #64d8bd;
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}
