/* body {
} */
html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #f9f9f9;
  text-align: center;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-align: center;
}

.inner-body-container {
  position: absolute;
  width: 82%;
  height: 90%;
  background-color: #fdebfc;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  margin-top: 2.2%;
  margin-bottom: 5%;
  margin-left: 8.2%;
  margin-right: 5%;
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 10px #ff35dc;
}

/* Navigation */

.header {
  /* flex: 3 3 3; */
  position: relative;
  /* background: #ff35dc; */
  background: rgb(255, 53, 220);
  background: linear-gradient(
    90deg,
    rgba(255, 53, 220, 1) 34%,
    rgba(255, 85, 238, 1) 100%
  );
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  border-bottom-color: black;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  display: flex;
  width: 99%;
  justify-content: space-between;
}

.header h1 {
  font-family: "PT Sans Narrow", sans-serif;
  left: 0;
  font-size: 40px;
  margin: 3px;
  align-self: flex-start;
  color: white;
  flex: 6, 3, 6;
  text-shadow: -2px 2px black;
}

.header h3 {
  color: white;
  right: 0;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 20px;
  font-size: 20px;
  margin: 3px;
  align-self: flex-end;
  flex: 4 1 4;
  text-shadow: -2px 2px black;
}

#nav-heart {
  font-size: 30px;
  font-weight: bold;
}

/* After Header */

.after-header {
  flex: 9 8 auto;
  overflow: scroll;
  height: 100%;
}

/* Home */

.home-main-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 80%;
  height: 100%;
  align-self: center;
}

.home-quadrant-table {
  width: 80%;
  margin: auto;
}

.home-quadrant-table table {
  table-layout: fixed;
  border: 3px solid #000000;
  border-radius: 35px;
  border-spacing: 0;
  margin: auto;
  overflow: hidden;
  width: 90%;
  box-shadow: -7px 7px #ff35dc;
}

.home-quadrant-table table th,
.home-quadrant-table table td {
  padding: 10px;
  width: 18%;
}

.home-quadrant-table img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#home-table-left,
#home-table-left th {
  background-color: #fca519;
}

#home-table-left td {
  background-color: #ffbb00;
}

#home-table-right,
#home-table-right th {
  background-color: #68eccd;
}

#home-table-right td {
  background-color: #66e6c8;
}

/* 
Your Groups */

.groups-main-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 80%;
  height: 100%;
  align-self: center;
}

.groups-inner-nav {
  display: flex;
  margin-bottom: 20px;
  overflow: auto;
  justify-content: space-between;
}

.groups-title {
  flex-grow: 1;
  font-size: 35px;
  text-decoration-line: underline;
}

.groups-button-edit {
  flex: 1 1 auto;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #694aff;
  border-radius: 15px;
  box-shadow: -5px 5px #ff35dc;
  margin: 10px;
  margin-top: 17px;
  width: auto;
  text-shadow: -1px 1px black;
  border: 3px dotted #000000;
}

.groups-button-edit:hover {
  background-color: #5f44e9;
}

.groups-button-edit:active {
  box-shadow: -1 5px #ff35dc;
  transform: translateY(4px);
}

#groups-nav-side {
  flex: 1 1 auto;
  width: 20%;
}

.groups-all {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.groups-body-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 70%;
  margin: 10%;
  margin-top: 5%;
}

.groups-single-container {
  flex-direction: row;
  display: flex;
  width: 50%;
  margin-bottom: 25px;
  /* margin: 8px; */
}

.groups-hearts {
  align-self: center;
  flex-basis: auto;
  display: flex;
  justify-content: center;
  flex-direction: column wrap;
  align-content: center;
}

#group-heart-pink {
  color: #ff35dc;
  font-weight: bold;
  font-size: 20px;
}

#group-heart-mint {
  color: #69eccc;
  font-weight: bold;
  font-size: 20px;
}

.groups-single-container table {
  table-layout: fixed;
  border: 3px solid #000000;
  border-radius: 35px;
  border-spacing: 0;
  margin: auto;
  overflow: hidden;
  width: 90%;
  box-shadow: -7px 7px #ff35dc;
  background-color: #fca519;
  font-weight: bold;
}

.groups-single-container table th {
  padding: 10px;
  width: 18%;
  background-color: #fca519;
}
.groups-single-container table td {
  padding: 10px;
  width: 18%;
  background-color: #ffbb00;
}

.groups-single-container table:active {
  box-shadow: -1 5px #ff35dc;
  transform: translateY(4px);
}

.groups-single {
  flex-grow: 1;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fca519;
  border: none;
  border-radius: 15px;
  box-shadow: -5px 5px #ff35dc;
  margin: 10px;
  margin-top: 17px;
  text-shadow: -1px 1px black;
}

.groups-single:hover {
  background-color: #ffbb00;
}

/* Edit Groups */

.group-names {
  background-color: #b44a64;
  border: none;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
  width: 18vh;
}

.group-names:hover {
  background-color: white;
  font-weight: bold;
}
.edit-groups-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.all-groups {
  flex-grow: 8;
  font-size: 20px;
  font-weight: bold;
}

.swap-groups {
  flex-grow: 2;
}

.all-groups-hover:hover {
  background-color: white;
}

.selected-group {
  background-color: white;
  padding: 8px;
  margin: 5px;
}

.edit-group-lists {
  font-family: "PT Sans Narrow", sans-serif;
  flex-grow: 1;
  align-self: center;
}
.all-groups-container {
  display: flex;
  flex-flow: column wrap;
  height: 60vh;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

/* Your Orders */

.orders-main-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 95%;
  height: 100%;
  align-self: center;
}

.orders-inner-nav {
  display: flex;
  margin-bottom: 10px;
  overflow: auto;
  justify-content: space-between;
}

.orders-title {
  flex-grow: 1;
  font-size: 35px;
  text-decoration-line: underline;
}

#orders-nav-side {
  flex: 1 1 auto;
  width: 10%;
}

.orders-button-new {
  flex: 1 1 1;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #694aff;
  border-radius: 15px;
  box-shadow: -5px 5px #ff35dc;
  border: none;
  margin: 15px;
  margin-right: 5%;
  margin-top: 17px;
  border: 3px dotted #000000;
  text-shadow: -1px 1px black;
  width: auto;
}

.orders-button-new:hover {
  background-color: #5f44e9;
}

.orders-button-new:active {
  box-shadow: -1px 5px #ff35dc;
  transform: translateY(4px);
}

.orders-body {
  width: 100%;
  height: 100%;
  margin-top: 0px;
}

.orders-filter {
  margin-top: 20px;
}

.orders-all {
  margin: 0px;
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.orders-single-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-bottom: 15px;
}

.orders-hearts {
  /* align-self: center; */
  flex-basis: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column wrap;
  /* align-content: center; */
  width: 10%;
}

#orders-heart-1 {
  color: #25b6ff;
  font-weight: bold;
  font-size: 20px;
}

#orders-heart-2 {
  color: #4089ff;
  font-weight: bold;
  font-size: 20px;
}

#orders-heart-3 {
  color: #6346ff;
  font-weight: bold;
  font-size: 20px;
}

.orders-table {
  table-layout: fixed;
  border: 3px solid #000000;
  border-radius: 35px;
  border-spacing: 0;
  margin: auto;
  width: 90%;
  background-color: #c97dfc;
  overflow: hidden;
  box-shadow: -7px 7px #25b6ff;
}

.orders-table tbody:hover td,
.orders-table tbody:hover th {
  background-color: #af6ddb;
}

.orders-table th {
  padding: 10px;
  width: 18%;
  background-color: #c97dfc;
}

.orders-table td {
  padding: 10px;
  width: 18%;
  background-color: #daace8;
}

.orders-table:active {
  box-shadow: -2 6px #25b6ff;
  transform: translateY(4px);
}

/* New Order */

.type-radio {
  align-content: center;
  text-align: center;
}

.new-order-title {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.new-order-field {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  font-weight: bold;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 15px;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
    background-color: rgb(228, 197, 240);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

/* Single Order */

.single-order-main-container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 95%;
  height: 100%;
  align-self: center;
}

.single-order-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: auto;
  justify-content: center;
}

#single-order-title {
  font-size: 35px;
  text-decoration-line: underline;
}

.single-order-button-edit {
  flex: 1 1 auto;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #694aff;
  border-radius: 15px;
  box-shadow: -5px 5px #ff35dc;
  margin: 10px;
  margin-top: 17px;
  width: auto;
  text-shadow: -1px 1px black;
  border: 3px dotted #000000;
}

.single-order-button-edit:hover {
  background-color: #1f77c9;
}

.single-order-button-edit:active {
  box-shadow: -1 5px #ff35dc;
  transform: translateY(4px);
}

.single-order-button-del {
  flex: 1 1 auto;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #694aff;
  border-radius: 15px;
  box-shadow: -5px 5px #ff35dc;
  margin: 10px;
  margin-top: 17px;
  width: auto;
  text-shadow: -1px 1px black;
  border: 3px dotted #000000;
}

.single-order-button-del:hover {
  background-color: #a54b34;
}

.single-order-button-del:active {
  box-shadow: -1 5px #ff35dc;
  transform: translateY(4px);
}

.single-order-table {
  border: 1px solid DarkOrange;
  border-radius: 13px;
  border-spacing: 0;
  margin: auto;
  margin-bottom: 25px;
  background-color: rgb(182, 169, 169);
  overflow: hidden;
  box-shadow: 0 9px rgb(195, 145, 212);
  width: 55%;
}

.single-order-table th {
  border-bottom: 1px solid DarkOrange;
  padding: 10px;
  width: 18%;
  background-color: rgb(238, 153, 50);
}

.single-order-table td {
  border-bottom: 1px solid DarkOrange;
  padding: 10px;
  width: 18%;
  background-color: rgb(243, 178, 99);
}

.single-order-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: auto;
  justify-content: center;
}

#single-order-items-title {
  margin-top: 50px;
}

.single-order-item {
  border: 1px solid rgb(31, 158, 80);
  border-radius: 13px;
  border-spacing: 0;
  margin: auto;
  margin-bottom: 13px;
  background-color: rgb(157, 221, 152);
  overflow: hidden;
  box-shadow: 0 9px rgb(195, 145, 212);
}

.single-order-item th {
  border-bottom: 1px solid rgb(31, 158, 80);
  padding: 10px;
  /* width: 18%; */
  background-color: rgb(129, 187, 125);
}

.single-order-item td {
  border-bottom: 1px solid rgb(31, 158, 80);
  padding: 10px;
  /* width: 18%; */
  background-color: rgb(157, 221, 152);
}

.single-order-item-button-edit {
  flex-grow: 1;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2185e2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(195, 145, 212);
  margin: 10px;
  margin-top: 17px;
  text-align: right;
  align-self: flex-end;
}

.single-order-item-button-edit:hover {
  background-color: #1f77c9;
}

.single-order-item-button-new {
  flex-grow: 1;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(195, 145, 212);
  margin: 10px;
  margin-top: 17px;
  text-align: right;
  align-self: flex-end;
}

.single-order-item-button-new:hover {
  background-color: #3e8e41;
}
